@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  img{
    aspect-ratio: 1;
    object-fit: cover;
  }

  .overall-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content-container {
    flex: 1;
  }

  .container {
    width: 80%;
    margin-inline: auto;
  }

  @media (max-width: 730px) {
    .container {
      width: 90%;
    }
  }

  /* Navbar */

  .nav-container {
    flex-basis: max(370px, 31%);
  }

  .desktop-nav-loggedin,
  .desktop-nav-loggedout {
    flex-basis: max(15%, 192px);
  }

  .desktop-nav-loggedin svg,
  .desktop-nav-loggedout svg {
    font-size: 2rem;
  }

  .desktop-nav-loggedin svg:hover,
  .desktop-nav-loggedout svg:hover {
    color: #dbe8f4;
  }

  @media (max-width: 430px) {
    .desktop-nav-loggedout {
      flex-basis: max(15%, 300px);
    }
  }

  @media (max-width: 640px) {
    .nav-container {
      flex-basis: max(247px, 31%);
    }
    .desktop-nav-loggedin {
      flex-basis: max(15%, 200px);
    }
  }

  @media (max-width: 640px) {
    .mobile-nav,
    .mobile-nav-container {
      position: fixed;
      inset: 0 0 0 0;
      transform: translate(100%);
    }

    .mobile-nav-container {
      transition: transform 250ms ease-out;
    }

    .mobile-nav li {
      cursor: pointer;
    }

    .mobile-nav ul li:not(:first-child) {
      padding-bottom: 0.3em;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 0.5em;
      text-align: center;
      font-weight: 600;
    }

    .mobile-nav li:not(:first-child):hover {
      color: #dbe8f4;
    }

    .mobile-nav[data-visible="true"],
    .mobile-nav-container[data-visible="true"] {
      transform: translate(0);
    }
  }

  .search-results-item {
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 0.5em;
  }

  .search-results-item:hover {
    background: #458aca;
  }

  /* Home Logged Out */

  .logged-out-home-page-button:hover {
    background-color: rgba(56, 56, 56, 0.5);
  }

  .sponsors-container img {
    aspect-ratio: 0 !important;
  }

  @media (min-width: 1024px) {
    .intro-img {
      transform: rotate(29deg);
    }
  }

  /* Footer Logged Out */

  .footer-nav-container > ul > li {
    margin-bottom: 0.5em;
  }

  .footer-nav-list {
    grid-template-columns: 1.2fr 1fr;
  }

  .social-media-icons-container > ul > li {
    margin-right: 0.5em;
  }

  @media (min-width: 640px) {
    .social-media-icons-list {
      max-width: 316px;
      justify-content: space-evenly;
      margin-left: auto;
    }

    .social-media-icons-container > ul > li {
      margin-right: 0;
    }

    .copyright-container {
      grid-column: 1/3;
      text-align: center;
    }
  }

  @media (min-width: 1024px) {
    .copyright-container {
      grid-column: auto;
      text-align: left;
    }
  }

  /* Signup Form */

  .signup-container {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }

  .signup-title::after {
    content: "";
    background-color: #458aca;
    position: absolute;
    width: 45px;
    height: 3px;
    top: 48px;
    left: 2px;
  }

  .signup-form > input:nth-child(-n + 4) {
    min-height: 45px;
    border: 1px solid #9095a7;
    padding-left: 10px;
    border-radius: 0.5em;
  }

  .signup-container > .error-box {
    margin-bottom: 1em;
    border: 1px solid #9095a7;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .checkbox::after {
    content: "I accept all terms and conditions";
    position: absolute;
    color: #9095a7;
    top: -6px;
    left: 20px;
    width: 231px;
  }

  .signup-button.disabled {
    opacity: 0.8;
  }

  .signup-button.disabled:hover {
    cursor: not-allowed;
  }

  .signup-button.enabled:hover {
    background-color: rgba(69, 138, 202, 0.5);
  }

  .login-text:hover {
    color: rgba(69, 138, 202, 0.5);
  }

  @media (max-width: 440px) {
    .signup-container {
      padding: 1.5rem;
    }
  }

  /* Log in */

  .login-container {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }

  .login-title::after {
    content: "";
    background-color: #458aca;
    position: absolute;
    width: 45px;
    height: 3px;
    top: 48px;
    left: 2px;
  }

  .login-form > input {
    min-height: 45px;
    border: 1px solid #9095a7;
    padding-left: 10px;
    border-radius: 0.5em;
  }

  .login-container > .error-box {
    margin-bottom: 1em;
    border: 1px solid #9095a7;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .login-button:hover {
    background-color: rgba(69, 138, 202, 0.5);
  }

  .forgot-password:hover {
    cursor: pointer;
    color: rgba(69, 138, 202, 0.5);
  }

  @media (max-width: 440px) {
    .login-container {
      padding: 1.5rem;
    }
  }

  /* Dashboard (Logged in Home Page) */

  .create-post,
  .post-container {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }
  .write-post:hover {
    background-color: #eeeeee;
  }

  .post-intro {
    grid-template-columns: 1fr 9fr;
  }

  .post-author-image {
    grid-row: 1 / span 2;
  }

  .post-author-name {
    grid-row: 1;
  }

  .comment-intro {
    grid-template-columns: 40px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.5em;
    margin-top: 1em;
  }

  .comment-user-photo {
    grid-row: 1 / span 3;
  }

  .comment-user-name {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  .comment-content {
    grid-column: 2 / span 2;
  }

  /* Create Post */
  .create-post-submit-btn:hover {
    background-color: rgba(69, 138, 202, 0.5);
  }

  /* Suggestions Box */

  .suggestions-box {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    flex-basis: 317px;
    flex-shrink: 0;
    /* 30% */
  }

  .suggestions-list-item {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
    grid-template-columns: 0.7fr 2fr 1fr;
  }

  .suggestions-profile-image {
    grid-row: 1 / span 2;
  }

  .suggestions-profile {
    grid-row: 1;
  }

  .suggestions-followers {
    grid-column: 2;
  }

  .suggestions-follow-btn-container {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  /* Messages */

  .all-messages {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }

  .message-list-item {
    border-bottom: 1px solid #eeeeee;
    padding: 0.5em;
    grid-template-columns: 1fr 4.65fr;
    cursor: pointer;
  }

  .message-list-item:hover {
    background-color: #dbe8f4;
  }

  .message-profile-image {
    grid-row: 1 / span 2;
  }

  .message-profile-name {
    grid-row: 1;
  }

  .message-half-message {
    max-width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    margin-top: -0.6em;
  }

  .message-last-seen {
    grid-row: 1;
  }

  /* Notifications */

  .all-notifications {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }

  .notifications-list-item {
    border-bottom: 1px solid #eeeeee;
  }

  .notifications-list-item:hover {
    background-color: #dbe8f4;
    cursor: pointer;
  }

  /* Profile */

  .profile-container {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }

  .followers-list-item {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
    grid-template-columns: 50px 2fr 1fr;
    column-gap: 0.3em;
  }

  .followers-profile-image {
    grid-row: 1 / span 2;
  }

  .followers-profile {
    grid-row: 1;
  }

  .followers-followers {
    grid-column: 2;
  }

  .followers-follow-btn-container {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .update-profile-form > label:first-child + input{
    min-height: 45px;
    border: 1px solid #9095a7;
    padding-left: 10px;
    border-radius: 0.5em;
  }

  .profile-post {
    transition: opacity 500ms ease;
  }

  .profile-post img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
  }

  .profile-post:hover {
    cursor: pointer;
    opacity: 0.1;
  }

  .profile-post-controls {
    transition: opacity 500ms ease;
    opacity: 0;
    pointer-events: none;
  }

  .profile-post-controls:hover {
    opacity: 1;
  }

  .profile-post:hover + .profile-post-controls {
    visibility: visible;
    opacity: 1;
  }

  /* Individual Posts  */
  .del-post-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .del-post-modal-2 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: none;
  }

  .del-post-modal-content {
    background-color: #fefefe;
    /* margin: 15% auto; */
    border: 1px solid #888;
    width: 63%;
    max-width: 300px;
  }

  .del-post-button-container {
    display: flex;
    justify-content: space-between;
  }

  .del-post-button-container button:hover {
    background-color: #dbe8f4;
    cursor: pointer;
  }

  /* Hide scrollbar while modal is open */
  body.modal-open {
    overflow: hidden;
  }

  /* Others */

  .others {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }

  /* Contact Us Form */

  .contactus-container {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }

  .contactus-title::after {
    content: "";
    background-color: #458aca;
    position: absolute;
    width: 45px;
    height: 3px;
    top: 48px;
    left: 2px;
  }

  .contactus-form > input,
  .contactus-form > textarea {
    min-height: 45px;
    border: 1px solid #9095a7;
    padding-left: 10px;
    border-radius: 0.5em;
  }

  .contactus-button:hover {
    background-color: rgba(69, 138, 202, 0.5);
  }

  @media (max-width: 440px) {
    .contactus-container {
      padding: 1.5rem;
    }
  }
}
